@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

//Colors
$primary-color: tomato;
$secondary-color: mediumseagreen;

//Typography
$main-font: "Ubuntu", "Arial", "sans-serif";

//Box shadows