@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

input {
  height: 30px;
  font-size: 18px;
}

a {
  color: teal;
  text-decoration: none;
  transition: all 500ms ease;
  &:hover {
    color: mediumseagreen;
  }
}

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: teal;
  color: white;
  font-weight: bold;
  font-family: "Ubuntu";
  font-size: 16px;
  cursor: pointer;
  transition: all 500ms ease;
  &:hover {
    background-color: mediumseagreen;
  }
  &--green {
    background-color: mediumseagreen;
  }
  &--logout {
    background-color: lightcoral;
    margin-left: 25px;
  }
}


.header {
  height: 80px;
  z-index: 1;
  background-color: teal;
  display: flex;
  justify-content: center;
  color: white;
  &__logo {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__logout {
    flex: 1;
    justify-content: flex-end;
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
}

.footer {
  height: 100px;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  &__box {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc;
    width: 400px;
    margin: 100px 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  &__sidebar {
    background-color: #f7f7f7;
    flex: 1;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__todos {
    flex: 2;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
}

.error {
  color: brown;
}

.success {
  color: darkgreen;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  position: absolute;
  background-color: white;
  z-index: 10;
  padding: 50px;
  border-radius: 5px;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  &__container {
    height: 400px;
    width: 400px;
    background-color: white;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__title {
      display: flex;
      flex: 3;
    }
    &__close {
      flex: 1;
      display: flex;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.lds-ring {
  position: relative;
  margin-top: -10px;
  width: 24px;
  height: 24px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}

.task-item {
  background-color: #f7f7f7;
  padding: 20px;
  width: 90%;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}